@mixin center-vertical-div() {
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

@mixin center-horizontal-div() {
	position: relative;
	float: left;
	left: 50%;
	transform: translate(-50%);
}

    

.setupList {
	@include center-horizontal-div();
	.setupItem {
	    background-color: white;
	    margin-bottom: 15px;
	    width: 900px;
		height: 40px;
		line-height: 40px;
		&>div{
			float: left;
		}
	    .name {
	    	width: 350px;
	    	
	    }
	    .buttons {
			float: right;
			@include center-vertical-div();
			&>div{
				float: left;
			}
			.button {
				font-size: 12px;
				border: 1px solid #E4E4E4;
				width: 59px;
				height: 29px;
				line-height: 29px;
				text-align: center;
				margin-right: 5px;
			}
	    }
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
}



